:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 33%, 49%);
	--dark-blue: hsl(248, 9%, 26%);
	--greyish-blue: hsl(246, 25%, 77%);
	--white: hsl(0, 0%, 100%);

	--small: 1rem;
	--medium: 1.2rem;
	--large: 1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: var(--red);
	background-image: url('./bg-img.png');
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

body .flex-container {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-container {
	width: 40%;
	color: var(--white);
	margin: 2%;
}

.header--text-container {
	font-weight: 800;
	font-size: 3rem;
	line-height: 3rem;
	margin-bottom: 23px;
}

.paragraph--text-container {
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 1.5rem;
}

.form-container {
	width: 40%;
}

.button--try {
	width: 100%;
	background-color: var(--blue);
	color: var(--white);
	border-radius: 5px;
	border: none;
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
	box-shadow: 0 5px rgb(63, 61, 74, 0.2);
	transition-duration: 0.4s;
	cursor: pointer;
}

.button--try:hover {
	background-color: var(--dark-blue);
}

.span--try {
	font-weight: bolder;
}

.form {
	background-color: var(--white);
	font-style: normal;
	font-weight: 400;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 5px rgb(63, 61, 74, 0.2);
}

.input--text {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

.error {
	font-size: 0.5rem;
	color: var(--red);
}

.error.active {
	padding: 10px;
}

.hide {
	display: none;
}

.submit--freetrial {
	text-transform: uppercase;
	font-weight: bolder;
	width: 100%;
	background-color: var(--green);
	color: var(--white);
	border-radius: inherit;
	border: none;
	text-align: center;
	padding: 13px;
	margin: 10px 0;
	transition-duration: 0.4s;
	cursor: pointer;
}

.submit--freetrial:hover {
	background-color: var(--dark-blue);
}

.paragraph--ts {
	font-weight: 400;
	font-size: 0.6rem;
	text-align: center;
	color: var(--greyish-blue);
	margin-top: 5px;
}

.span--ts {
	color: var(--red);
	font-weight: bold;
}

/* tablet */
@media screen and (max-width: 860px) {
	body .flex-container {
		flex-direction: column;
		width: 100%;
	}

	.text-container {
		width: 90%;
		margin: 32px 0 0 0;
	}

	.header--text-container {
		text-align: center;
	}

	.paragraph--text-container {
		text-align: center;
		margin-bottom: 32px;
	}

	.form-container {
		width: 90%;
		margin-bottom: 32px;
	}
}

/* mobile */
@media screen and (max-width: 375px) {
	.header--text-container {
		font-weight: 700;
		font-size: 2.7rem;
		line-height: 2rem;
		text-align: center;
	}

	.paragraph--text-container {
		text-align: center;
		margin-bottom: 32px;
	}

	.form-container {
		width: 90%;
		margin-bottom: 32px;
	}
}
